.cont-card{
    padding-top: 48px;
    padding-left: 24px;
    display: flex;
    justify-content: center;
}
.root-card {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    box-shadow: 0rem 0.25rem 0.375rem -0.0625rem rgb(0 0 0 / 10%), 0rem 0.125rem 0.25rem -0.0625rem rgb(0 0 0 / 6%);
    overflow: visible;
}

.root-card hr{
    flex-shrink: 0;
    border-width: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(52, 71, 103, 0), rgba(52, 71, 103, 0.4), rgba(52, 71, 103, 0))!important;
    height: 0.0625rem;
    margin: 1rem 0;
    border-bottom: none;
    opacity: 0.25;
}

.cont-card-data{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    opacity: 1;
    background: transparent;
    color: #344767;
    box-shadow: none;
}

.card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    opacity: 1;
    color: #ffffff;
    border-radius: 2rem;
}

.card-icon svg{
    user-select: none;
    width: 1em;
    height: 1em;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    font-size: 1.5rem;
}

.card-data{
    text-align: right;
    line-height: 1.25;
    opacity: 1;
    background: transparent;
    color: #344767;
    box-shadow: none;
}

.card-data span{
    margin: 0;
    font-family: var(--title-font-family);
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 0.02857em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #7b809a;
    font-weight: 300;
}

.card-data h4{
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.375;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 700;
    letter-spacing: 0.00735em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: #344767;
}

.card-extra-data{
        padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    opacity: 1;
    background: transparent;
    color: #344767;
    border-radius: none;
    box-shadow: none;
}

.card-extra-data p{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.02857em;
    display: flex;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: #7b809a;
}

