
/*--------------- SIDE MENU -----------------------*/


.nav-menu {
  background: linear-gradient(195deg, #42424a, #191919);
  border-right: 1px solid #c4cdde;
  height: 90% ;
  top: 2.5%;
  margin-left: 3px ;
  width: 15rem;
  transition: 850ms;
  position: fixed;
  overflow: hidden;
  border-radius: 10px;
}

.nav-menu-items {
  left: 0px;  
  padding: 0;
  width: 100%;
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  vertical-align: middle;

}

.nav-menu-items a {
  text-decoration: none;
  color: #afafaf;
  font-size: 1.10rem;
  width: 90%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 10px;
  transition: color .15s ease-in;
  text-decoration: none;
}

.nav-menu-items .nav-link:hover {
  color: #f5f5f5;
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-menu-items .active {
  background: linear-gradient(195deg, #49a3f1, #1A73E8) ;
  color: #FFFFFF;
}

.nav-menu-items .active .nav-text > svg > path{
  color: #FFFFFF;
}

.nav-menu-items a .nav-text {
  width: 11rem;
  padding: 8px 8px 8px 0px;
}


.nav-text svg  {
  color: #afafaf;
  transition: color .15s ease-in;
  font-size: 24px;
  width: 55px;

}

.nav-text svg path {
  color: #afafaf;
  transition: color .15s ease-in;
  font-size: 24px;
  width: 55px;

}

a:hover > .nav-text > svg > path {
  color: #f5f5f5;
}

.nav-menu-items span {
  margin-left: 16px;
}

.wrapper{
  border: none;
  box-shadow: 0px 0px 1px rgb(50, 50, 50);
  margin-top: 1.3rem;
}

.nav-menu-items .nav-img .logo {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}


@media (min-width: 624px) {
  .wrapper{
    display: none;
  }
}


  
