.date-container{
    display: flex;
    width: 30%;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    margin-left: 15px;
    margin-right: 15px;
}

.date-container svg{
    user-select: none;
    width: 1.2em;
    height: 1.2em;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    font-size: inherit;
    font-size: inherit!important;
    color: #7b809a;
}

@media (max-width: 1600px) {
    .date-container{
        width: 40%;
    }
  }

  @media (max-width: 1350px) {
    .date-container{
        width: 50%;
    }
  }

  @media (max-width: 1150px) {
    .date-container{
        width: 60%;
    }
  }