.cont-tabla{
    width: 100%;
    overflow-x: auto;
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: none;

}

table{
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: initial;
    border-color: grey;
}

thead{
    opacity: 1;
    background: transparent;
    color: #344767;
    box-shadow: none;
}

thead tr{
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0;
}

th{
    width: 10%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background: transparent;
    box-shadow: none;
    border-bottom: 0.0625rem solid #f0f2f5;
    display: table-cell;
    vertical-align: inherit;
    text-align: left;
    opacity: 0.7;
    color: #535768;
    border-radius: none;
    font-size: 0.65rem;
    font-weight: 700;
    text-transform: uppercase;

}

thead .Solucion{
    width: 50% !important;
}

thead .Nombre{
    width: 15% !important;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    overflow: scroll;
}

tbody tr{
    vertical-align: middle;
}

tbody tr div {
    height: auto;
    padding: 0.6em 0.9em;
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: none;
    border-radius: 0.375rem;
    color: #ffffff;
    position: static;
    margin-left: 0.5rem;
    transform: none;
    
}

tbody tr .MASIVO div{
    background: linear-gradient(195deg, #66BB6A, #43A047);
}

tbody tr .CORPORATIVO div{
    background: linear-gradient(195deg, #42424a, #191919);
}

td{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    opacity: 1;
    background: transparent;
    box-shadow: none;
    font-size: 0.875rem;
    border-bottom: 0.0625rem solid #f0f2f5;
    margin: 0;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.02857em;
    vertical-align: unset;
    color: #383a46;
    font-weight: 600;
    vertical-align: middle;
}

.filters{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.checkbox{
    width: 80%;
}

.masivo, .corpo{
    margin-right: 15px;
    float: right;
}

.checkbox label{
    margin-right: 15px;
}


