


:root{
  --color-primary: #57A8FF;
  --color-menu: #373737;
  --color-title: #344767;

  --title-font-size: 1.25rem;
  --title-font-weight: 500;

  --title-font-family: "Roboto","Helvetica","Arial",sans-serif;
  
}

html{
  scroll-behavior: smooth;
  
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.625;
    letter-spacing: 0.00938em;
    background-color: #E6EFFF !important;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700&display=swap');



  
