.content-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;

}

.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-container{
    width: calc(100% - 58px);
    padding:  50px 30px 0px 30px;
    margin-left: 15rem;
}

/*Encabezado*/
header{
    border-radius: 1px;
    width: 100%;
    min-height: auto;
    padding: 0.25rem 1rem;
}

header .header-container{
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

header .header-container .title{
    font-size: 1rem ;
    font-family: var(--title-font-family) ;
    font-weight: var(--title-font-weight) ;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: baseline;
    width: max-content!important;
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.01938em;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    margin-bottom: 0.5rem;

}

header .header-container .title .ol-title{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
}


header .header-container h1{
    font-size: var(--title-font-size);
}

.content-container .contenedor-tabla{
    padding-top: 48px;
    padding-left: 0.60rem;

}

